.estadisticas-container {
    padding: 20px;
    background: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    color: black;
    margin-bottom: 20px;
  }
  
  .cards {
    display: flex;
    justify-content: space-between; /* Para que las tarjetas se alineen horizontalmente */
    gap: 20px; /* Espacio entre las tarjetas */
    margin-bottom: 20px;
  }
  
  .ant-card {
    width: 100%; /* Para que las tarjetas usen el ancho completo disponible */
  }
  
  .ant-card-body {
    padding: 20px; /* Ajusta el espacio interno de la tarjeta */
  }
  
  .ant-statistic {
    text-align: center;
  }
  